@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
:root {
    --main-color: #f9f9f9;
    --secondry-color: #363636;
    --third-color: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.container {
    margin: 0 auto;
}

@media (max-width:767px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.scroll-up {
    position: absolute;
    bottom: 20px;
    right: 40px;
    border-radius: 6px;
    background-color: var(--secondry-color);
    color: var(--main-color);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    opacity: .5;
    cursor: pointer;
    display: none;
}

.scroll-up.show {
    display: block;
}

.scroll-up:hover {
    opacity: 1;
}

.scroll-up:hover i {
    animation: rigging .8s alternate infinite;
}


/* small devices */

@media screen and (min-width:576px) {
    .container {
        width: 540px;
    }
}


/* medium devices */

@media screen and (min-width:768px) {
    .container {
        width: 720px;
    }
}


/* large devices */

@media screen and (min-width:992px) {
    .container {
        width: 960px;
    }
}


/* xtra large devices */

@media screen and (min-width:1200px) {
    .container {
        width: 1140px;
    }
}


/* start global */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--secondry-color);
}

section {
    scroll-snap-align: start;
}

.main-heading {
    font-size: 3rem;
    margin: 20px 0;
}


/* end global */


/* start loading */

.splash-screen {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.splash-screen .upper,
.splash-screen .lower {
    position: absolute;
    height: 50%;
    background-color: var(--secondry-color);
    width: 100%;
    transition: all .8s;
}

.splash-screen .upper {
    top: 0;
    left: 0;
}

.splash-screen .lower {
    bottom: 0;
    left: 0;
}

.upper.loaded {
    top: -50%;
}

.lower.loaded {
    bottom: -50%;
}

.splash-screen .loading {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}

.loading h4 {
    margin-bottom: 10px;
}

.loading-progress {
    height: 10px;
    width: 150px;
    border: 1px solid var(--main-color);
    position: relative;
}

.loading-progress span {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    width: 20%;
    height: 100%;
    transition: width .5s;
    animation: loading 1s;
}

@keyframes loading {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}


/* end loading */


/* start header */

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: var(--secondry-color);
}

.header nav.scroll-to-works {
    color: var(--main-color);
}

.header .logo {
    font-size: 40px;
    cursor: pointer;
    transition: color .5s;
}

.header .links .toggle-menu {
    display: none;
    cursor: pointer;
}

.header .links li {
    display: inline-block;
    font-size: 1rem;
}

.header .links li:not(:last-child) a {
    color: inherit;
    position: relative;
    transition: color .5s;
}

.header .links li a.active {
    font-weight: bold;
}

.header .links li a.active::before,
.header .links li a:hover::before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: var(--secondry-color);
    border-radius: 50%;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.header nav.scroll-to-works .links li a.active::before,
.header nav.scroll-to-works .links li a:hover::before {
    background-color: var(--main-color);
}

.header .links li a:hover::before {
    opacity: .5;
}

.header .links li:not(:last-child) {
    margin-right: 20px;
}

header .links .close-btn {
    display: none;
}

@media screen and (max-width:767px) {
    .header .links ul {
        display: none;
    }
    .header .links .toggle-menu {
        display: inline-block;
        font-size: 30px;
    }
    .header .links ul {
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        height: 100vh;
        width: 100%;
        background-color: var(--secondry-color);
        color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .5s;
    }
    .header .links.show ul {
        left: 0;
    }
    .header .links ul li a {
        display: block;
        padding: 20px 20px;
        font-size: 1.6rem;
        position: relative;
    }
    .header .links li a.active::before,
    .header .links li a:hover::before {
        background-color: var(--main-color);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
    .links .close-btn {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        cursor: pointer;
        margin-top: 20px;
    }
    .close-btn i {
        font-size: 2rem;
    }
}


/* end header */


/* start landing */

.landing {
    background-color: var(--main-color);
    height: 100vh;
    position: relative;
}

.landing .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.landing .circle {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: var(--third-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

@media screen and (max-width:767px) {
    .landing .circle {
        height: 280px;
        width: 280px;
        top: 30%;
    }
}

.landing .landing-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.landing .landing-content .introduction {
    width: 45%;
}

.landing .introduction h1 {
    font-size: 3.2rem;
    margin: 15px 0;
}

.landing .introduction p {
    color: var(--secondry-color);
    line-height: 2;
    margin-bottom: 40px;
}

.see-more {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    padding: 8px 8px 8px 0;
    position: relative;
}

.see-more::before {
    content: "";
    height: 40px;
    width: 40px;
    background-color: #ddd;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: -5px;
    left: -12px;
}

.see-more::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f061";
    position: absolute;
    right: -15px;
}

.landing .landing-content .image {
    width: 45%;
    position: relative;
    text-align: center;
}

.landing .image .x-bg {
    z-index: -1;
    width: 100%;
    position: absolute;
    font-size: 430px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial;
}

.landing .landing-content .image img {
    width: 200px;
    animation: rigging 1s infinite linear alternate;
}

@keyframes rigging {
    from {
        transform: translateY(0)
    }
    to {
        transform: translateY(10px)
    }
}

@media screen and (max-width:767px) {
    .landing .landing-content .image {
        order: 1;
        width: 100%;
    }
    .landing .landing-content .introduction {
        width: 100%;
        order: 2;
    }
    .landing .image .x-bg {
        font-size: 350px;
    }
    .landing .introduction h1 {
        font-size: 2rem;
    }
}

.landing .socials {
    position: absolute;
    bottom: 30px;
}

.landing .socials span {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.landing .socials span:first-child {
    margin-left: 0;
}

.landing .socials span::before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--secondry-color);
    position: absolute;
    bottom: -3px;
}

.landing .scroll-down {
    position: absolute;
    bottom: 90px;
    right: 20px;
    color: var(--secondry-color);
    writing-mode: vertical-rl;
    animation: rigging .8s infinite linear alternate;
}

.landing .scroll-down h4 {
    font-weight: 300;
}

.landing .scroll-down::before {
    content: "";
    height: 60px;
    width: 1px;
    background-color: var(--secondry-color);
    position: absolute;
    bottom: -80px;
    left: 6px;
}

.landing .scroll-down::after {
    content: "";
    height: 15px;
    width: 1px;
    background-color: var(--secondry-color);
    position: absolute;
    bottom: -81px;
    left: 10px;
    transform: rotate(30deg);
}


/* end landing */


/* start about */

.about {
    height: 100vh;
}

.about .container {
    height: 100%;
}

.about .about-content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.about .text {
    max-width: 600px;
}

.about .text h3 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--secondry-color);
    margin-bottom: 20px;
    margin-top: 30px;
}

@media screen and (max-width:767px) {
    .about .text h3 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width:991px) {
    .about .image {
        width: 100%;
    }
}

.about .text p {
    color: var(--secondry-color);
    line-height: 2;
    margin-bottom: 20px;
}

.about .text span {
    font-weight: bold;
}

.about .image {
    text-align: center;
}

@keyframes rotation {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}

.about .image img {
    width: 150px;
    animation: rotation 1s infinite alternate;
}


/* end about */


/* start skills */

.skills {
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--main-color);
}

.skills .container {
    height: 100%;
}

.skills .skills-content {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.skills .development-skills,
.skills .animation-skills {
    background-color: var(--third-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0px rgb(0 0 0 / 15%)
}

.skills .development-skills {
    width: 49%;
}

.skills .animation-skills {
    width: 49%;
}

.skills h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.6rem;
}

@media screen and (max-width:767px) {
    .skills .development-skills {
        width: 100%;
        margin-bottom: 15px;
    }
    .skills .animation-skills {
        width: 100%;
    }
    .skills h3 {
        font-size: 1rem;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.skills .skill {
    display: flex;
    align-items: center;
    margin: 15px;
}

.skills .skill .skill-name {
    width: 160px;
}

.skills .skill .skill-progress {
    width: 100%;
    height: 30px;
    border-radius: 6px;
    background-color: var(--main-color);
    position: relative;
}

.skills .skill .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;
    width: 0;
    background-color: var(--secondry-color);
}

.skills .skill .skill-progress span::after {
    content: attr(data-progress);
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: var(--main-color);
    border-radius: 4px;
    padding: 2px;
}

.skill.placeholder {
    height: 30px;
}

.skills .illustration {
    text-align: center;
    padding: 15px;
}

.skills .illustration img {
    width: 200px;
    border-radius: 20px;
}

@media screen and (max-width:767px) {
    .skills .skill {
        flex-direction: column;
    }
    .skills .skill .skill-name {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .skills .illustration {
        display: none;
    }
}


/* end skills */


/* start works */

.work {
    height: 100vh;
    background-color: var(--secondry-color);
    color: var(--main-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.work h2 {
    position: relative;
}

.work .circle {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: 0;
    background-color: #f9f9f9a8;
}

.work .work-list {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
}

.work .project {
    width: 32%;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 rgb(255 255 255 / 15%);
    height: 420px;
    overflow: hidden;
    position: relative;
}

.work .project .image {
    height: 147px;
    overflow: hidden;
    border-radius: 6px;
    transition: height .5s;
}

@media screen and (min-width:991px) {
    .work .project .image:hover {
        height: 100%;
    }
}

.work .project .image img {
    width: 100%;
}

.work .project .info {
    padding: 20px;
}

.work .project .info h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.work .project .info p {
    line-height: 2;
    margin-bottom: 30px;
    height: 100px;
}

.work .project a {
    color: inherit;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width:991px) {
    .project {
        width: 100%;
    }
}

@media (max-width:991px) {
    .work {
        overflow: hidden;
    }
    .work .work-list {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }
    .work .project {
        height: fit-content;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .work .project.show-info::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0 0 0 / 30%);
    }
    .work .project .info {
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        transition: all .3s;
    }
    .work .project.show-info .info {
        top: 50%;
    }
    .work .project .info p {
        display: none;
    }
}

.work .see-more {
    color: var(--main-color);
    padding: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

.work .see-more::before {
    background-color: #f9f9f9a8;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


/* end works */


/* start contact */

.contact {
    height: 100vh;
    padding-top: 50px;
}

.contact .container {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact form {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form input:not(input[type='submit']),
.contact form textarea {
    border: none;
    width: 70%;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: var(--secondry-color);
    margin-bottom: 20px;
    border-bottom: 1px solid var(--secondry-color);
}

.contact form input[type='submit'] {
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.contact .see-more::before {
    top: 4px;
}

.contact .see-more::after {
    top: 15px;
}

.contact form textarea {
    height: 150px;
}

.contact form input:focus,
.contact form textarea:focus {
    outline: none;
}

@media screen and (max-width:991px) {
    .contact form input:not(input[type='submit']),
    .contact form textarea {
        width: 100%;
    }
}


/* end contact */


/* start footer */

footer {
    background-color: var(--main-color);
    height: 100px;
    padding-top: 30px;
    text-align: center;
}

footer span {
    font-weight: bold;
    color: var(--secondry-color);
}


/* end footer */